*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    display: block;
    background-image:url("./assets/images/fondo.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;

}

body 
{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page
{
    background-color: white;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.w-100 
{
    width: 100%;
}